<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch" style="z-index: 2">
    
    <button mat-button >
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

    <span fxFlex></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/home" routerLinkActive="router-link-active no-border">Home</button>
      <button mat-button routerLink="/details" routerLinkActive="router-link-active no-border">Details</button>
    
    </div>
  </mat-toolbar>

  <mat-card fxLayout="row" fxLayout="column" fxLayoutGap="gap" fxFlexAlign="center">
    <p>Test Assigments</p>
  </mat-card>
 

  <router-outlet></router-outlet>
</div>